@import url("https://fonts.googleapis.com/css?family=Exo");
@import url("https://fonts.googleapis.com/css?family=Rokkitt");
* {
  font-family: 'Rokkitt', serif; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Exo', sans-serif;
  text-align: center;
  color: #30303b; }

body {
  margin: 0; }

#electric {
  height: 100vh;
  background: linear-gradient(0deg, #4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #2c2c2c 46%, #000000 54%, #111111 59%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%);
  display: flex;
  flex-direction: column; }

#electric div {
  flex: 1;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  overflow-y: hidden;
  font-family: 'Exo', sans-serif; }

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  color: transparent;
  transition: color 200ms ease-out, text-shadow 200ms ease-out; }

#electric .victor, #electric .moreno {
  color: white; }

.luminous {
  color: #fafafa !important;
  text-shadow: 1px 1px 1px #fafafa !important;
  opacity: 1; }

.dim {
  color: #20202f;
  text-shadow: none; }

#about-me {
  background-size: cover;
  padding: 6rem 0;
  position: relative;
  overflow: hidden;
  display: flex;
  background-image: linear-gradient(#4c4c4c 0%, #555555 12%, white 100%); }

#about-me > .bgdiv {
  width: 200%;
  position: absolute;
  left: 0; }

#about-me > .bgdiv > img {
  width: 100%;
  transform: translate(-25%, -25%); }

.about-content {
  z-index: 10;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.about-content * {
  color: #30303b; }

.about-content p {
  width: 80%;
  min-width: 300px;
  font-size: 1.5rem;
  text-align: center; }

.phloat {
  padding: 1rem;
  font-size: 1.25rem;
  max-width: 700px;
  margin: 0 auto; }

.shape-v {
  float: left;
  width: 25%;
  shape-outside: url(../img/v.svg);
  clip: url(../img/v.svg);
  shape-margin: 1rem;
  margin: 0 1rem; }

.shape-m {
  float: right;
  width: 25%;
  shape-outside: url(../img/m.svg);
  clip: url(../img/m.svg);
  shape-margin: 1rem;
  margin: 0 1rem; }

.phloat::after {
  content: "";
  clear: both;
  display: block; }

.alignright {
  text-align: right; }

@media screen and (max-width: 400px) {
  .shape-m, .shape-v {
    width: 50%; } }
#portfolio {
  padding: 2rem 8rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

#portfolio .portfolio-item figcaption h3 {
  color: white; }

.portfolio-item figcaption h5 {
  margin-bottom: 0.5rem; }

.portfolio-item {
  font-family: 'Raleway', sans-serif;
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 10px 8px;
  min-width: 230px;
  max-width: 315px;
  width: 100%;
  color: #ffffff;
  font-size: 16px;
  text-align: left; }

.portfolio-item * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease; }

.portfolio-item:before {
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 10px;
  right: 10px;
  top: 100%;
  content: '';
  background-color: rgba(51, 51, 51, 0.9);
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-transition-delay: 0.25s;
  transition-delay: 0.25s; }

.portfolio-item img {
  vertical-align: top;
  max-width: 100%;
  backface-visibility: hidden; }

.portfolio-item figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.portfolio-item h3,
.portfolio-item h5 {
  margin: 0;
  opacity: 0;
  letter-spacing: 1px; }

.portfolio-item h3 {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  text-transform: uppercase;
  font-weight: 400;
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
  margin-bottom: 5px; }

.portfolio-item h5 {
  font-weight: normal;
  background-color: #ae895d;
  padding: 3px 10px;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition-delay: 0s;
  transition-delay: 0s; }

.portfolio-item a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1; }

.portfolio-item:hover:before,
.portfolio-item.hover:before {
  top: 10px;
  -webkit-transition-delay: 0s;
  transition-delay: 0s; }

.portfolio-item:hover h3,
.portfolio-item.hover h3,
.portfolio-item:hover h5,
.portfolio-item.hover h5 {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1; }

.portfolio-item:hover h3,
.portfolio-item.hover h3 {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s; }

.portfolio-item:hover h5,
.portfolio-item.hover h5 {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s; }

@keyframes slide-out {
  100% {
    transform: scale(1, 1); } }
#skills {
  display: flex;
  min-height: 50vh;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 800px; }

.skill {
  display: flex;
  box-sizing: border-box;
  flex: 1 0 300px;
  flex-direction: row;
  margin: 0 1rem 3rem 1rem;
  align-items: center; }

.logo h3 {
  margin: 0;
  position: absolute;
  bottom: -1rem;
  left: 50%;
  transform: translateX(-50%); }

.logo {
  flex: 1;
  position: relative; }

.logo img {
  width: 100%; }

.proficiency {
  flex: 4;
  height: 3rem;
  margin-left: 2rem;
  margin-bottom: 1rem;
  border-radius: 3px;
  transform: scale(0, 1);
  transform-origin: left; }

.proficiency div {
  width: 100%;
  height: 100%; }

.animated {
  animation: slide-out;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards; }

.proficiency.proficient div {
  width: 80%; }

.proficiency.competent div {
  width: 60%; }

.ajax div {
  background-color: #4594CB; }

.angular div {
  background-color: #E52A3A;
  animation-delay: 500ms; }

.react div {
  background-color: #00D8FF;
  animation-delay: 1000ms; }

.redux div {
  background-color: #764ABC;
  animation-delay: 1500ms; }

.node div {
  background-color: #90C53F;
  animation-delay: 2000ms; }

.js div {
  background-color: #F0DB4F;
  animation-delay: 2500ms; }

.jquery div {
  background-color: #193556;
  animation-delay: 3000ms; }

.mongodb div {
  background-color: #412F1F;
  animation-delay: 3500ms; }

.mysql div {
  background-color: #58C0A7;
  animation-delay: 4000ms; }

.aws div {
  background-color: #FF9900;
  animation-delay: 4500ms; }

.jenkins div {
  background-color: #F0D6B7;
  animation-delay: 5000ms; }

.java div {
  background-color: #7091C4;
  animation-delay: 5500ms; }

.ajax div {
  background-color: #4594CB; }

.js {
  animation-delay: 500ms; }

.jquery {
  animation-delay: 1000ms; }

.angular {
  animation-delay: 1500ms; }

.react {
  animation-delay: 2000ms; }

.redux {
  animation-delay: 2500ms; }

.node {
  animation-delay: 3000ms; }

.mongodb {
  animation-delay: 3500ms; }

.mysql {
  animation-delay: 4000ms; }

.aws {
  animation-delay: 4500ms; }

.jenkins {
  animation-delay: 5000ms; }

.java {
  animation-delay: 5500ms; }

#contact {
  padding-top: 4rem;
  overflow-x: hidden;
  background-image: linear-gradient(white, transparent), linear-gradient(0deg, #30303b, transparent); }

#contact p {
  max-width: 800px;
  font-size: 1.5rem;
  margin: 0 auto;
  text-align: center; }

.form-container {
  background: transparent;
  margin: 2rem auto 0 auto;
  text-align: center;
  padding: 10px 0 10px;
  max-width: 800px; }
  .form-container h1 {
    margin-bottom: 40px;
    font-size: 4em; }

form {
  width: 95%;
  margin: 0 auto; }
  form .field {
    width: 100%;
    position: relative;
    margin-bottom: 15px; }
    form .field label {
      position: absolute;
      top: 0;
      left: 0;
      background: #313A3D;
      width: 100%;
      padding: 18px 0;
      font-size: 1.45em;
      letter-spacing: 0.075em;
      color: gainsboro;
      -webkit-transition: all 333ms ease-in-out;
      -moz-transition: all 333ms ease-in-out;
      -o-transition: all 333ms ease-in-out;
      -ms-transition: all 333ms ease-in-out;
      transition: all 333ms ease-in-out; }
      form .field label + span {
        opacity: 0;
        color: white;
        display: block;
        position: absolute;
        top: 12px;
        left: 7%;
        font-size: 2.5em;
        text-shadow: 1px 2px 0 #cd6302;
        -webkit-transition: all 333ms ease-in-out;
        -moz-transition: all 333ms ease-in-out;
        -o-transition: all 333ms ease-in-out;
        -ms-transition: all 333ms ease-in-out;
        transition: all 333ms ease-in-out; }
    form .field input[type="text"],
    form .field textarea {
      border: none;
      background: #E8E9EA;
      width: 80.5%;
      margin: 0;
      padding: 18px 0;
      padding-left: 19.5%;
      color: #313A3D;
      font-size: 1.4em;
      letter-spacing: 0.05em; }
      form .field input[type="text"]#msg,
      form .field textarea#msg {
        height: 18px;
        resize: none;
        -webkit-transition: all 333ms ease-in-out;
        -moz-transition: all 333ms ease-in-out;
        -o-transition: all 333ms ease-in-out;
        -ms-transition: all 333ms ease-in-out;
        transition: all 333ms ease-in-out; }
      form .field input[type="text"]:focus, form .field input[type="text"].focused,
      form .field textarea:focus,
      form .field textarea.focused {
        outline: none; }
        form .field input[type="text"]:focus#msg, form .field input[type="text"].focused#msg,
        form .field textarea:focus#msg,
        form .field textarea.focused#msg {
          padding-bottom: 150px; }
        form .field input[type="text"]:focus + label, form .field input[type="text"].focused + label,
        form .field textarea:focus + label,
        form .field textarea.focused + label {
          width: 18%;
          background: #FD9638;
          color: #313A3D; }
      form .field input[type="text"].focused + label,
      form .field textarea.focused + label {
        color: #FD9638; }
    form .field:hover label {
      width: 18%;
      background: #313A3D;
      color: white; }
  form .button {
    background: #FD9638;
    color: white;
    max-width: 125px;
    margin: 0 auto;
    -webkit-appearance: none;
    border: none;
    position: relative;
    padding: 13px 50px;
    font-size: 1.4em;
    letter-spacing: 0.1em;
    -webkit-transition: all 333ms ease-in-out;
    -moz-transition: all 333ms ease-in-out;
    -o-transition: all 333ms ease-in-out;
    -ms-transition: all 333ms ease-in-out;
    transition: all 333ms ease-in-out; }
    form .button:hover {
      background: #313A3D;
      color: #FD9638; }
    form .button:focus {
      outline: none;
      background: #cd6302; }

/*# sourceMappingURL=index.css.map */
