@keyframes slide-out {
  100% { transform: scale(1, 1) }
}

#skills{
  display:flex;
  min-height: 50vh;
  flex:1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.skills-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 800px;
}
.skill{
  display:flex;
  box-sizing: border-box;
  flex: 1 0 300px;
  flex-direction:row;
  margin: 0 1rem 3rem 1rem;
  align-items: center;
}

.logo h3{
  margin: 0;
  position:absolute;
  bottom: -1rem;
  left:50%;
  transform: translateX(-50%);
}
.logo{
  flex:1;
  position:relative;
}
.logo img{
  width:100%;
}
.proficiency{
  flex: 4;
  height:3rem;
  margin-left: 2rem;
  margin-bottom:1rem;
  border-radius: 3px;
  transform: scale(0, 1);
  transform-origin: left;
}
.proficiency div{
  width: 100%;
  height: 100%;
}

.animated{
  animation: slide-out;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.proficiency.proficient div{
  width: 80%;
}
.proficiency.competent div{
  width: 60%;
}

.ajax div{
  background-color: #4594CB;
}
.angular div{
  background-color: #E52A3A;
  animation-delay: 500ms;
}
.react div{
  background-color: #00D8FF;
  animation-delay: 1000ms;
}
.redux div{
  background-color: #764ABC;
  animation-delay: 1500ms;
}
.node div{
  background-color: #90C53F;
  animation-delay: 2000ms;
}
.js div{
  background-color: #F0DB4F;
  animation-delay: 2500ms;
}
.jquery div{
  background-color: #193556;
  animation-delay: 3000ms;
}
.mongodb div{
  background-color: #412F1F;
  animation-delay: 3500ms;
}
.mysql div{
  background-color: #58C0A7;
  animation-delay: 4000ms;
}
.aws div{
  background-color: #FF9900;
  animation-delay: 4500ms;
}
.jenkins div{
  background-color: #F0D6B7;
  animation-delay: 5000ms;
}
.java div{
  background-color: #7091C4;
  animation-delay: 5500ms;
}
.ajax div{
  background-color: #4594CB;
}
.js {
  animation-delay: 500ms;
}
.jquery {
  animation-delay: 1000ms;
}
.angular {
  animation-delay: 1500ms;
}
.react {
  animation-delay: 2000ms;
}
.redux {
  animation-delay: 2500ms;
}
.node {
  animation-delay: 3000ms;
}
.mongodb {
  animation-delay: 3500ms;
}
.mysql {
  animation-delay: 4000ms;
}
.aws {
  animation-delay: 4500ms;
}
.jenkins{
  animation-delay: 5000ms;
}
.java {
  animation-delay: 5500ms;
}
